
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    .copyright {
        width: 100%;
        float: left;
        font-size: 15pt;
        color: #ffffff;
        text-align: center;
        padding: 10px 0px;
        background-color: #212529;
    }
    .gallery_section {
        width: 100%;
        float: left;
        background-color: #ff4e5b;
        height: auto;
    }
    .best_shoes {
        width: 100%;
        float: left;
        background-color: #ffffff;
        height: auto;
        padding: 20px 20px 20px 0px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    element.style {
    }

    .buy_text {
        width: 20%;
        height: 50px;
        color: #ffffff;
        background-color: #131111;
        color: #ffffff;
        font-size: 16pt;
        margin-top: 35px;
        margin-left: 530px;
    }

    .best_text {
        width: 100%;
        float: left;
        font-size: 14pt;
        color: #000;
        text-align: center;
        margin-left: 0px;
    }

    .collection_section {
        width: 100%;
        float: left;
        padding-bottom: 0px;
    }
</style>

<div class="banner" style="margin-left: 25px; margin-top: 40px; ">
    <img src="~/image/baner.png" alt="Alternate Text" />
</div>

<h3 style="margin-top: 100px">Phaan loaij</h3>
<div class="layout_padding gallery_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="best_shoes">
                    <p class="best_text">Best Shoes </p>
                    <div class="shoes_icon"><img style="max-height:410px; max-width:410px" src="~/image/3.jpg"></div>
                    <div class="star_text">
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">60</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="best_shoes">
                    <p class="best_text">Best Shoes </p>
                    <div class="shoes_icon"><img style="max-height:410px; max-width:410px" src="~/image/4.jpg"></div>
                    <div class="star_text">
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">400</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="best_shoes">
                    <p class="best_text">Best Shoes </p>
                    <div class="shoes_icon"><img style="max-height:410px; max-width:410px" src="~/image/5.jpg"></div>
                    <div class="star_text">
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">50</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="best_shoes">
                    <p class="best_text">Sports Shoes</p>
                    <div class="shoes_icon"><img style="max-height:410px; max-width:410px" src="~/image/6.jpg"></div>
                    <div class="star_text">
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">70</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="best_shoes">
                    <p class="best_text"></p>
                    <div class="shoes_icon"><img style="max-height:410px; max-width:410px" src="~/image/7.jpg"></div>
                    <div class="star_text">
                        <div class="right_part">
                            <div class="shoes_price">$ <span style="color: #ff4e5b;">1.000.000</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="best_shoes">
                    <p class="best_text">Sports Shoes</p>
                    <div class="shoes_icon"><img style="max-height:410px; max-width:410px" src="~/image/8.jpg"></div>
                    <div class="star_text">
                        <div class="right_part">
                            <div class="shoes_price"><span style="color: #ff4e5b;text-align:center">1.200.000VND</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buy_now_bt">
            <a href="/home/allproduct"> <button class="buy_text"> ALL PRODUCT </button> </a>
        </div>
    </div>
</div>


@*Footer*@


