@model List<WebShoes.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Brand ID</th>
        <th>Brand Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            @*<td>@item.Description</td>*@
            
        </tr>
    }
</table>
