@model List<WebShoes.Models.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CateloryID</td>
            <td>@item.CateloryName</td>
        </tr>
    }
</table>